#bootstrap #container-two #tron {
   background-image: url(./background-images/city-one.jpg);
   padding-top: 20%;
   padding-bottom: 20%
}

#bootstrap #container-two {
    background-color: plum;
    color: white;
}

#bootstrap h3 {
    padding-left: 25%
}

#bootstrap #third {
    padding-left: 50%
}

#bootstrap #fourth {
    padding-left: 60%
}

#bootstrap-overrides .deck-container {
    margin-top: 100px;
    padding-bottom: 20%
}


#bootstrap #tron-four{
    background-color: plum;
    background-image: url(./background-images/streetnight.jpg);
    background-size: cover;
    padding-top: 20%;
    padding-bottom: 20%;
    text-align: center
 }

 #bootstrap #tron-two #jumbotron-container-two {
     text-align: center
 }