#availability-header {
    color: black
}

#availability-subtitle {
    color: black
}

#bootstrap #container-two #tron-five {
    background-image: url(./background-images/sandy.jpg);
    background-size: cover;
}

#bootstrap #container-two #tron .availability-prop {
    background-image: url(./background-images/city-one.jpg);
    padding-top: 20%;
    padding-bottom: 20%
 }
 

.listings-title { 
    padding-top: 50px
}


#bootstrap {
    padding: 0
}

.listing-section {
    padding: 10% 10% 10% 10%
}